@font-face {
	font-family: "Montserrat";
	src: url("../assets/fonts/Montserrat.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("../assets/fonts/Poppins.ttf");
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background: linear-gradient(to bottom, #083b42, #106f7c);
	display: flex;
	flex-direction: column;
}

header{
	position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
   box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);

}

h1, h2, th, td, span, label {
	font-weight: bold !important;
	font-family: "Poppins", sans-serif !important;
	color:white !important;
	text-shadow: 0px 10px 10px black;
}


p {
	font-family: "Montserrat", sans-serif !important;
	color: white !important;
}

.botoes {
	align-content: center;
	margin: -180px;
}

#logo {
	display: block;
	width: 240px;
	height: 135px;
}

#fundinho {
	z-index: 9;
	position: relative;	
	display: flex;
	flex-direction: column;
	align-items: center;
	top:-200px; 
	left:0px;

	
}
#fundinho-filho{
	z-index: 12;
	top: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
}

#fundinho-img{
	top: 100px;
	width: 100%;
	height: 650px;
	opacity: 0.6 ;
}

.container {
	font-weight: bold !important;
	font-family: "Poppins", sans-serif !important;
	color:white !important;
}


#cover-container {
    display: flex;
    flex-direction: row;
}

#cover {
	height: 200px; 
	width: 180px;
	margin: auto;
}